<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Sphere</title>
</head>
<body>

    <header>
        <!-- Navbar -->
        <nav>
            <h1>HealthS</h1>

            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="products.html">Products</a></li>
                <li><a href="about.html">about</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="register.html">Register</a></li>
            </ul>

            <button>Contact Us</button>
        </nav>

        <img src="" alt="">

       <h1>About Us</h1>

    </header>

    <main>


    </main>







    
</body>
</html>